version: "3.8"
services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    command: bash -c "rm -f tmp/pids/server.pid && bundle check || bundle install && rails s -b '0.0.0.0'"
    volumes:
      - ./backend:/app
      - backend_gems:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/scaleup_development
      REDIS_URL: redis://redis:6379/1

  sidekiq:
    build: ./backend
    command: bash -c "bundle check || bundle install && bundle exec sidekiq"
    volumes:
      - ./backend:/app
      - backend_gems:/usr/local/bundle
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/scaleup_development
      REDIS_URL: redis://redis:6379/1

  frontend:
    build: ./frontend
    command: sh -c "npm install && npm run dev -- --host"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    environment:
      VITE_API_URL: http://localhost:3000

volumes:
  postgres_data:
  backend_gems:
  frontend_node_modules:
